@font-face {
  font-family: 'a_akhir_tahunregular';
  src: url("../assets/fonts/font-akira/aakhirtahun-webfont.woff") format("woff2"), url("../assets/fonts/font-akira/aakhirtahun-webfont.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  overflow-x: hidden;
}

header {
  background-color: #4AA6DA;
  height: 40vh;
  width: 100%;
}

header h1 {
  position: relative;
  left: 10%;
  top: 30%;
  color: #2C2C2C;
  font-family: 'a_akhir_tahunregular';
  font-size: 3rem;
}

main #formulaire {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 80%;
  margin: 0 auto;
  background-color: #fefefe;
  color: #2C2C2C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  padding: 50px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

main #formulaire .form-item {
  margin-bottom: 2vh;
  text-align: center;
}

main #formulaire .form-item label {
  display: block;
  text-align: left;
  margin-left: 8vw;
  margin-bottom: .5rem;
  font-size: 2rem;
}

main #formulaire .form-item input, main #formulaire .form-item textarea {
  padding: 1rem;
  margin-bottom: 1rem;
  width: 80%;
}

main #formulaire .form-item input:focus, main #formulaire .form-item textarea:focus {
  border: none;
  outline: 3px solid #4AA6DA;
  border-radius: 2px;
}

main #formulaire .form-item textarea {
  resize: none;
  font-family: inherit;
}

main #formulaire #btn {
  background-color: #2C2C2C;
  color: white;
  border: none;
  padding: 1.5rem;
  width: 15rem;
  text-transform: uppercase;
  font-weight: 900;
  border-radius: 10px;
  margin: 0 auto;
}

main #formulaire #btn:hover {
  background-color: #4AA6DA;
  color: white;
  -webkit-animation: jello-horizontal .9s both;
          animation: jello-horizontal .9s both;
}

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.error {
  margin-top: 5px;
  color: red;
}

.succes {
  margin-top: 5px;
  color: green;
  font-size: 1.8rem;
}

.invisible {
  display: none;
}
/*# sourceMappingURL=style.css.map */