@font-face {
    font-family: 'a_akhir_tahunregular';
    src: url('/assets/fonts/font-akira/aakhirtahun-webfont.woff') format('woff2'),
         url('/assets/fonts/font-akira/aakhirtahun-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    overflow-x: hidden;
}

header {
    background-color: #4AA6DA;
    height: 40vh;
    width: 100%;
    h1 {
        position: relative;
        left: 10%;
        top: 40%;
        color: #2C2C2C;
        font-family: 'a_akhir_tahunregular';
        font-size: 3rem;
    }
}

main {

    #formulaire {
        position: absolute;
        top: 25%;
        left: 10%;
        width: 80%;
        margin: 0 auto;
        background-color: rgb(254, 254, 254);
        border: 2px solid #2C2C2C;
        color: #2C2C2C;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        padding: 50px;

        .form-item{
            margin-bottom: 2vh;
            label{
                display: block;
                margin-bottom: .5rem;
                font-size: 2rem;
            }

            input, textarea{
                padding: 1rem;
                margin-bottom: 1rem;
                width: 100%;
                
                
            }
            textarea{
                resize: none;
                font-family: inherit;
            }
        }
        #btn {
            background-color: #4AA6DA;
            color: white;
            border: none;
            padding: 1.5rem;
            width: 15rem;
            text-transform: uppercase;
            font-weight: 900;
            border-radius: 10px;
            margin: 0 auto;
        }
    }
}
.error{
    margin-top: 5px;
    color: red;
}
.succes{
    margin-top: 5px;
    color: green;
    font-size: 1.8rem;
}
.invisible{
    display: none;
}

